# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Ignore Kaggle sample submission
sample_submission.csv